.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  background-color: #FFFFFF;
  gap: 26px; /* Espaço entre os ícones e o texto de copyright */
}

.footer-socials {
  display: flex;
  gap: 35px; /* Espaçamento entre os logos */
}

.footer-socials a {
  color: #21243D; /* Mesma cor dos títulos para manter a unidade */
  transition: color 0.3s ease, transform 0.2s ease;
}

.footer-socials a:hover {
  
  transform: translateY(-3px);
}

.footer-copyright {
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #21243D;
  margin: 0;
}